page-about {
    img {
        width: 30%;
        height: 30%;
        margin: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .text {
        text-align: center;
        font-size: 25px;
        color: royalblue;
    }
    .button-click {
        text-align: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }
}